{{template "base" .}}
{{define "title"}}Scrap #{{.Scrap.ID}}{{end}}
{{define "main"}}
<div class='scrap'>
<div class='metadata'>
<strong>{{.Scrap.Email}}</strong>
<span>#{{.Scrap.ID}}</span>
</div>
<div class='metadata'>
<time>Created: {{.Scrap.Created}}</time>
<time>Expires: {{.Scrap.Expires}}</time>
</div>
</div>
{{end}}