{{template "base" .}}
{{define "title"}}Scrap #{{.Scrap.ID}}{{end}}
{{define "main"}}
{{with .Scrap}}
<div class='scrap'>
<div class='metadata'>
<strong>{{.Email}}</strong>
<span>#{{.ID}}</span>
<a>{{.Guid}}</a>
<a>API calls Remaining :{{.Count}}</a>
</div>

<div class='metadata'>

<time>Created: {{.Created}}</time>
<time>Expires: {{.Expires}}</time>
</div>
</div>
{{end}}
{{end}}