{{template "base" .}}
{{define "title"}}Snippet #{{.Scrap.ID}}{{end}}
{{define "main"}}
{{with .Scrap}}
<div class='snippet'>
<div class='metadata'>
<strong>{{.Email}}</strong>
<span>#{{.ID}}</span>
</div>

<div class='metadata'>
<time>Created: {{.Created}}</time>
<time>Expires: {{.Expires}}</time>
</div>
</div>
{{end}}
{{end}}