{{template "base" .}}
{{define "title"}}Signup Page{{end}}
{{define "main"}}

<form action='/signup' method='POST'>
<div>
<label>Email:</label>
<input type='text' name='title'>
</div>
<div>
<input type='submit' value='Submit Email!'>
</div>
</form>
{{end}}